setuptools

# Data operations packages
numpy
pandas
dask
xarray

# Graphics packages
matplotlib
cartopy

# Intake is a package for retrieving CMIP6, and gcsfs is a silent dependency
intake
intake-esm
gcsfs