setuptools
tqdm
git-lfs

# Data operations packages
numpy
pandas
dask
xarray
cftime
scikit-learn

# Graphics packages
matplotlib
cartopy
# A graphics package for adding labels to mapped data points
adjustText

# Intake is a package for retrieving CMIP6, and gcsfs is a silent dependency
intake
intake-esm
gcsfs

# For running the jupyter notebooks
jupyter

# For development and testing purposes
pytest
datacompy